@import "tailwindcss";
@plugin "daisyui";

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f3f3f3;
  --color-secondary: teal;
}

a.active {
  text-decoration: underline;
}