@import "tailwindcss";
@plugin "daisyui";

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #b6ef5b;
  --color-secondary: #FDD835 ;
}

a.active {
  text-decoration: underline;
}